


.offline {
    height: 10px;
    width: 10px;
    margin-left: -30px;
    margin-top: 85px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #e74c3c; /* Red color for offline status */
    animation: pulse 1s infinite alternate; /* Pulsating animation */
}
.online {
    height: 10px;
    width: 10px;
    margin-left: -30px;
    margin-top: 85px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #4caf50; /* Red color for offline status */
    animation: pulse 1s infinite alternate; /* Pulsating animation */
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}