.chat-message {

    display: flex;
    margin: 10px;
    max-width: 80%; /* Adjust the maximum width as needed */
}

/* Styles for the user avatar */
.user-avatar {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes it a circular avatar */
    margin-right: 10px;
}

/* Styles for the message content */
.message-content {
    color: gold;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

/* Styles for the message header */
.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Styles for the username and date */
.username {
    color: red;
    font-weight: bold;
}

.date {
    font-size: 0.8rem;
    color: #777;
}

/* Styles for the message text */
.message-text {
    margin: 0;
}

.chat-message {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}



@keyframes onlineAnimation {
    0% {
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
    }
    100% {
        box-shadow: 0 0 15px rgba(76, 175, 80, 0);
    }
}

.date {
    font-size: 12px;
    color: #888;
}

.message-text {
    margin: 0;
}